.input-search {
  outline-style: none !important;
}

.toggle-results,
.toggle-noresults {
  padding: 4px;
}

.euiFieldText {
  height: 100%;
  width: fit-content;
  border: none;
  /* background-color: none  ; */
}
/* .toggle-results:hover {
  color: blue;
} */

/* .euiImage.euiImage--fullWidth {
  
} */