/* .App {
  text-align: center;
} */

/* MAIN STYLES */
a{
  text-decoration: none;
  display: flex;
}

a, a:visited{
  color: inherit;
}

ul{
  padding:0;
  margin:0
}

/* PROFILE */
.profile__card--img{
  background-image:  url("./assets//profileIcon.png");
  background-repeat: no-repeat;
  /* background-position: ; */

}

.edit__helper--click{
  position: absolute;
  height: 36px;
  width: 200px;
  top:-7px;
  left: -51px;
}
.delete__helper--click{
  position: absolute;
  height: 36px;
  width: 201px;
  top:0;
  left:0;
}

